.form {

    background-color: #CCCADE;

    border: solid black;
    border-width: 1px;
    box-shadow: 2px 2px 2px 1px #282c34;
    border-radius: 4px;

    width: 40%;
    max-width: 500px;
    height: 50%;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.form-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-footer {
  justify-self: start;
}

.submit-button {
background-color:#873ce8;
color: white;
height: 40px;
width: 80px;
border-radius: 5px;
}

.error {
  color: rgb(179, 6, 6);
}